<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title> Photos</title>
</head>

<body>
    <nav class="navbar bg-dark border-bottom border-bottom-dark justify-content-center" data-bs-theme="dark">

        <ul class="nav justify-content-end nav-pills">
            <li class="nav-item">
                <a class="nav-link " aria-current="page" href="../home">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../about">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../works">WORKS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/photosGallery">PHOTO GALLERY</a>
            </li>
        </ul>
    </nav>
    <h1> La belleza de Shakira en imágenes</h1>


    <div class="gallery">

        <div class="photo-container">
            <img src="/images/fundacion-pies-descalsos.jpg" alt="Shakira 1" class="photo">
        </div>
        <div class="photo-container">
            <img src="/images/grammy.jpg" alt="Shakira 1" class="photo">
        </div>
        <div class="photo-container">
            <img src="/images/gramys.jpg" alt="Shakira 1" class="photo">
        </div>
        <div class="photo-container">
            <img src="/images/mundial-brasil.jpg" alt="Shakira 1" class="photo">
        </div>
        <div class="photo-container">
            <img src="/images/shaki.jpg" alt="Shakira 1" class="photo">
        </div>
        <div class="photo-container">
            <img src="/images/shakira-4k.jpg" alt="Shakira 1" class="photo">
        </div>
        <div class="photo-container">
            <img src="/images/Shakira-Album-photo-1.jpg" alt="Shakira 1" class="photo">
        </div>
        <div class="photo-container">
            <img src="/images/shakira-copa-20141.jpg" alt="Shakira 1" class="photo">
        </div>
        <div class="photo-container">
            <img src="/images/shakira-filantropia.jpg" alt="Shakira 1" class="photo">
        </div>
        <div class="photo-container">
            <img src="/images/Shakira-pelo-1.webp" alt="Shakira 1" class="photo">
        </div>
        <div class="photo-container">
            <img src="/images/Shakira-pelo-2.jpg" alt="Shakira 1" class="photo">
        </div>
        <div class="photo-container">
            <img src="/images/Shakira-pelo-3.webp" alt="Shakira 1" class="photo">
        </div>
        <div class="photo-container">
            <img src="/images/Shakira-pelo-4.jpg" alt="Shakira 1" class="photo">
        </div>
        <div class="photo-container">
            <img src="/images/Shakira-pelo-5.webp" alt="Shakira 1" class="photo">
        </div>
        <div class="photo-container">
            <img src="/images/Shakira-pelo-6.jpg" alt="Shakira 1" class="photo">
        </div>
        <div class="photo-container">
            <img src="/images/shakira-records.jpg" alt="Shakira 1" class="photo">
        </div>
        <div class="photo-container">
            <img src="/images/Shakira-surfing-music-video.jpg" alt="Shakira 1" class="photo">
        </div>
        <div class="photo-container">
            <img src="/images/shakira.jpg" alt="Shakira 1" class="photo">
        </div>
        <div class="photo-container">
            <img src="/images/shakira_the_voice.jpg" alt="Shakira 1" class="photo">
        </div>
        <div class="photo-container">
            <img src="/images/shakiraunicef.jpg" alt="Shakira 1" class="photo">
        </div>
        <div class="photo-container">
            <img src="/images/superbol.webp" alt="Shakira 1" class="photo">
        </div>
        <div class="photo-container">
            <img src="/images/tlmd-shakira-billboard-23.webp" alt="Shakira 1" class="photo">
        </div>
        <div class="photo-container">
            <img src="/images/unicef.webp" alt="Shakira 1" class="photo">
        </div>
        <div class="photo-container">
            <img src="/images/waka-waka.jpg" alt="Shakira 1" class="photo">
        </div>
        <div class="photo-container">
            <img src="/images/zootopia.jpg" alt="Shakira 1" class="photo">
        </div>
    </div>

    <script src="/JS/main.js"></script>
</body>

</html>