<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <title> WORKS</title>
</head>

<body>
    <nav class="navbar bg-dark border-bottom border-bottom-dark justify-content-center" data-bs-theme="dark">

        <ul class="nav justify-content-end nav-pills">
            <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/home">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/works">WORKS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/photosGallery">PHOTO GALLERY</a>
            </li>
        </ul>
    </nav>
    <h1> Shakira: Un Legado Musical Imparable</h1>
    <div class="textWork">
        <p>
            Shakira Isabel Mebarak Ripoll Embaixadora da boa vontade da UNICEF (Barranquilla, 2 de fevereiro de 1977) é
            uma cantora, compositora, dançarina e multi-instrumentista colombiana, além de atuar regularmente como
            produtora, empresária, coreógrafa, atriz, e modelo. Shakira é também filantropa e embaixadora da Boa Vontade
            da UNICEF colombiana.
        </p>
        <p>
            Shakira ingresó al mercado de habla inglesa con su quinto álbum, Laundry Service. Su principal sencillo,
            "Whenever, Wherever", se convirtió en uno de los sencillos más exitosos de 2002. Su éxito se consolidó con
            sus sexto y séptimo álbumes, Fijación oral, vol. 1 y Oral Fixation, Vol. 2 (2005), este último generó una de
            las canciones más vendidas del siglo XXI, "Hips Don't Lie", con más de 13 millones de descargas (sin incluir
            otras formas de ventas digitales y copias físicas). Su octavo y noveno álbum, She Wolf (2009) y Sale el sol
            (2010), recibieron elogios de la crítica. Su canción oficial para la Copa Mundial de la FIFA 2010, "Waka
            Waka (This Time for Africa)", se convirtió en la canción más vendida de todos los tiempos en una Copa
            Mundial, con 10 millones de descargas. Con más de 3 mil millones de visualizaciones, es uno de los videos
            musicales más vistos en YouTube.
        </p>
        <p>
            Shakira fue entrenadora en las cuarta y sexta temporadas de la versión estadounidense de The Voice en 2013 y
            2014, respectivamente. Su décimo álbum, Shakira (2014), es precedido por su sencillo principal, "Can't
            Remember to Forget You". Su undécimo álbum, El Dorado, es uno de los álbumes más reproducidos de todos los
            tiempos, con más de 10 mil millones de reproducciones en todas las plataformas de streaming, lo que la
            convierte en la artista femenina más influyente de 2017 en todo el mundo.
        </p>
        <p>
            Shakira ha recibido numerosos premios, incluidos 5 MTV Video Music Awards, 3 Grammy Awards, 13 Latin Grammy
            Awards, 7 Billboard Music Awards y 33 Billboard Latin Music Awards. También ha sido nominada a los Globo de
            Oro. Ha obtenido una estrella en el Paseo de la Fama de Hollywood y ha vendido más de 80 millones de discos
            y sencillos en todo el mundo. Con 25.4 millones de ventas en los Estados Unidos (hasta 2014), Shakira es la
            cantante sudamericana más exitosa de todos los tiempos en términos de ventas de discos.
        </p>
        <p>
            Además, lleva a cabo actividades filantrópicas a través de su fundación Barefoot. En 2011, fue nombrada por
            el expresidente estadounidense Barack Obama para formar parte de la Comisión Asesora del Presidente sobre
            Excelencia Educativa para los Hispanos, un grupo de cuatro personas que asesoró al Presidente y al
            Secretario de Educación, Arne Duncan. En 2014, fue incluida en la lista de las 58 mujeres más poderosas del
            mundo según Forbes. Posteriormente, fue nombrada la "Máxima Artista Latina de Todos los Tiempos", en
            reconocimiento a sus logros, impacto, legado y ventas.
        </p>
        <p>
            Se le considera la artista latina más influyente de todos los tiempos y también se le atribuye el impulso de
            la música latina en el mercado internacional.
        </p>
    </div>


    <div class="imgWork">

        <div class="card rounded float-end content">
            <img src="/images/shakira-records.jpg" class="card-img-top image-work" alt="...">
            <div class="card-body">
                <p class="card-text">Shakira gana su primer GRAMMY en 2001</p>
            </div>
        </div>
        <div class="card rounded float-end content">
            <img src="/images/gramys.jpg" class="card-img-top image-work" alt="...">
            <div class="card-body">
                <p class="card-text">Shakira en la Entrega Anual Del Latin Grammy, 2006.</p>
            </div>
        </div>
        <div class="card rounded float-end content">
            <img src="/images/mundial-brasil.jpg" class="card-img-top image-work" alt="...">
            <div class="card-body">
                <p class="card-text">Shakira en la Copa del Mundo 2014 en Río de Janeiro.
                </p>
            </div>
        </div>
    </div>

</body>

</html>